body{
    background: url(/img/bg.png);
    background-position: left 150%;
    background-repeat: repeat;
}
.Header {
    background-color: white;
    width: 300px;
    border: 5px solid pink;
    background-position: center;
    text-align: center;
    color: purple;
    position: absolute;
    left: 35%;
    margin-left: 20px;
    border-radius: 30px;
}
.topnav a {
    background-color: rgb(228, 129, 146);
    left: 35%;
    margin-left: 195px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    border: 2px solid white;
    border-radius: 30%;
}
.topnav a:hover {
    background-color: blueviolet;
}
.topnav1 a {
    background-color: rgb(228, 129, 146);
    left: 35%;
    margin-left: 590px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    border-radius: 10%;
    font-family: sans-serif;
}
.topnav1 a:hover {
    background-color: rgb(54, 42, 65);}
.column {
    color: purple;
    text-align: center;
    margin-right: 50px;
    font-family: sans-serif;
}
.column h1 {
    font-family: sans-serif;
}
.column p {
    background-color: rgb(228, 129, 146);
    position: absolute;
    margin-left: 360px;
    color: white;
    text-align: justify;
    width: 40%;
    min-width: 100px;
    height: auto;
    padding: 20px 20px;
    border-radius: 7%;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.middle{
    color: purple;
    text-align: center;
    margin-right: 50px;
    font-family: sans-serif;
}
.middle p {
    background: url(/img/don.png);
    width: 220px;
    height: 200px;
    float: left;
    margin: 5px;
    margin-top: 6%;
}
.middle h4 {
    background: url(/img/don3.png);
    width: 220px;
    height: 200px;
    margin-left: 41.7%;
    margin-right: 100%; 
    margin-top: 7%;
}
.middle h2 {
    background: url(/img/don2.png);
    width: 220px;
    height: 200px;
    margin-left: 80%;
    margin-right: 100%; 
    margin-top: -17%;
}

  